<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gudetama</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <!-- Enable thread-bound strategy -->
        <property name="hbm2ddl.auto">create-drop</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="fr.crystalgems.gudetama.model.Video"/>
        <mapping class="fr.crystalgems.gudetama.model.Category"/>
        <mapping class="fr.crystalgems.gudetama.model.User"/>
        <mapping class="fr.crystalgems.gudetama.model.Subtitle"/>
        <mapping class="fr.crystalgems.gudetama.model.Rating"/>
        <!-- DB schema will be updated if needed -->
    </session-factory>
</hibernate-configuration>